PORT=4000
NODE_ENV=development
JWT_SECRET=replace_with_gateway_jwt_secret
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3002
FRANCHISE_SERVICE_URL=http://franchise-service:3003
VEHICLE_SERVICE_URL=http://vehicle-service:3004
ORDER_SERVICE_URL=http://order-service:3005
PLANNING_SERVICE_URL=http://planning-service:3006
NOTIFICATION_SERVICE_URL=http://notification-service:3007
